.dataTables_wrapper {
	clear: both; position: relative; -ms-zoom: 1;
}
.dataTables_processing {
	padding: 14px 0px 2px; border: 1px solid rgb(221, 221, 221); border-image: none; left: 50%; top: 50%; width: 250px; height: 30px; text-align: center; color: rgb(153, 153, 153); font-size: 14px; margin-top: -15px; margin-left: -125px; position: absolute; background-color: white;
}
.dataTables_length {
	width: 40%; float: left;
}
.dataTables_filter {
	width: 50%; text-align: right; float: right;
}
.dataTables_info {
	width: 60%; float: left;
}
.dataTables_paginate {
	text-align: right; float: right;
}
.paginate_disabled_previous {
	height: 19px; color: rgb(17, 17, 17) !important; float: left; cursor: pointer;
}
.paginate_enabled_previous {
	height: 19px; color: rgb(17, 17, 17) !important; float: left; cursor: pointer;
}
.paginate_disabled_next {
	height: 19px; color: rgb(17, 17, 17) !important; float: left; cursor: pointer;
}
.paginate_enabled_next {
	height: 19px; color: rgb(17, 17, 17) !important; float: left; cursor: pointer;
}
.paginate_disabled_previous:hover {
	text-decoration: none !important;
}
.paginate_enabled_previous:hover {
	text-decoration: none !important;
}
.paginate_disabled_next:hover {
	text-decoration: none !important;
}
.paginate_enabled_next:hover {
	text-decoration: none !important;
}
.paginate_disabled_previous:active {
	
}
.paginate_enabled_previous:active {
	
}
.paginate_disabled_next:active {
	
}
.paginate_enabled_next:active {
	
}
.paginate_disabled_previous {
	color: rgb(102, 102, 102) !important;
}
.paginate_disabled_next {
	color: rgb(102, 102, 102) !important;
}
.paginate_disabled_previous {
	padding-left: 23px;
}
.paginate_enabled_previous {
	padding-left: 23px;
}
.paginate_disabled_next {
	padding-right: 23px; margin-left: 10px;
}
.paginate_enabled_next {
	padding-right: 23px; margin-left: 10px;
}
.paginate_disabled_previous {
	background: url("../images/back_disabled.png") no-repeat left top;
}
.paginate_enabled_previous {
	background: url("../images/back_enabled.png") no-repeat left top;
}
.paginate_enabled_previous:hover {
	background: url("../images/back_enabled_hover.png") no-repeat left top;
}
.paginate_disabled_next {
	background: url("../images/forward_disabled.png") no-repeat right top;
}
.paginate_enabled_next {
	background: url("../images/forward_enabled.png") no-repeat right top;
}
.paginate_enabled_next:hover {
	background: url("../images/forward_enabled_hover.png") no-repeat right top;
}
table.display {
	margin: 0px auto; width: 100%; clear: both;
}
table.display thead th {
	padding: 3px 18px 3px 10px; font-weight: bold; border-bottom-color: black; border-bottom-width: 1px; border-bottom-style: solid; cursor: pointer;
}
table.display tfoot th {
	padding: 3px 18px 3px 10px; font-weight: bold; border-top-color: black; border-top-width: 1px; border-top-style: solid;
}
table.display tr.heading2 td {
	border-bottom-color: rgb(170, 170, 170); border-bottom-width: 1px; border-bottom-style: solid;
}
table.display td {
	padding: 3px 10px;
}
table.display td.center {
	text-align: center;
}
.sorting_asc {
	background: url("../images/sort_asc.png") no-repeat right;
}
.sorting_desc {
	background: url("../images/sort_desc.png") no-repeat right;
}
.sorting {
	background: url("../images/sort_both.png") no-repeat right;
}
.sorting_asc_disabled {
	background: url("../images/sort_asc_disabled.png") no-repeat right;
}
.sorting_desc_disabled {
	background: url("../images/sort_desc_disabled.png") no-repeat right;
}
table.display thead th:active {
	
}
table.display thead td:active {
	
}
table.display tr.gradeA.odd {
	background-color: rgb(221, 255, 221);
}
table.display tr.gradeA.even {
	background-color: rgb(238, 255, 238);
}
table.display tr.gradeC.odd {
	background-color: rgb(221, 221, 255);
}
table.display tr.gradeC.even {
	background-color: rgb(238, 238, 255);
}
table.display tr.gradeX.odd {
	background-color: rgb(255, 221, 221);
}
table.display tr.gradeX.even {
	background-color: rgb(255, 238, 238);
}
table.display tr.gradeU.odd {
	background-color: rgb(221, 221, 221);
}
table.display tr.gradeU.even {
	background-color: rgb(238, 238, 238);
}
tr.odd {
	background-color: rgb(226, 228, 255);
}
tr.even {
	background-color: white;
}
.dataTables_scroll {
	clear: both;
}
.dataTables_scrollBody {
	-webkit-overflow-scrolling: touch;
}
.top {
	padding: 15px; border: 1px solid rgb(204, 204, 204); border-image: none; background-color: rgb(245, 245, 245);
}
.bottom {
	padding: 15px; border: 1px solid rgb(204, 204, 204); border-image: none; background-color: rgb(245, 245, 245);
}
.top .dataTables_info {
	float: none;
}
.clear {
	clear: both;
}
.dataTables_empty {
	text-align: center;
}
tfoot input {
	margin: 0.5em 0px; width: 100%; color: rgb(68, 68, 68);
}
tfoot input.search_init {
	color: rgb(153, 153, 153);
}
td.group {
	border-top-color: rgb(161, 155, 158); border-bottom-color: rgb(161, 155, 158); border-top-width: 2px; border-bottom-width: 2px; border-top-style: solid; border-bottom-style: solid; background-color: rgb(209, 207, 208);
}
td.details {
	border: 2px solid rgb(161, 155, 158); border-image: none; background-color: rgb(209, 207, 208);
}
.example_alt_pagination div.dataTables_info {
	width: 40%;
}
.paging_full_numbers {
	width: 400px; height: 22px; line-height: 22px;
}
.paging_full_numbers a:active {
	
}
.paging_full_numbers a:hover {
	text-decoration: none;
}
.paging_full_numbers a.paginate_button {
	margin: 0px 3px; padding: 2px 5px; border: 1px solid rgb(170, 170, 170); border-image: none; color: rgb(51, 51, 51) !important; cursor: pointer; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.paging_full_numbers a.paginate_active {
	margin: 0px 3px; padding: 2px 5px; border: 1px solid rgb(170, 170, 170); border-image: none; color: rgb(51, 51, 51) !important; cursor: pointer; -webkit-border-radius: 5px; -moz-border-radius: 5px;
}
.paging_full_numbers a.paginate_button {
	background-color: rgb(221, 221, 221);
}
.paging_full_numbers a.paginate_button:hover {
	text-decoration: none !important; background-color: rgb(204, 204, 204);
}
.paging_full_numbers a.paginate_active {
	background-color: rgb(153, 179, 255);
}
table.display tr.row_selected.even td {
	background-color: rgb(176, 190, 217);
}
table.display tr.row_selected.odd td {
	background-color: rgb(159, 175, 209);
}
tr.odd td.sorting_1 {
	background-color: rgb(211, 214, 255);
}
tr.odd td.sorting_2 {
	background-color: rgb(218, 220, 255);
}
tr.odd td.sorting_3 {
	background-color: rgb(224, 226, 255);
}
tr.even td.sorting_1 {
	background-color: rgb(234, 235, 255);
}
tr.even td.sorting_2 {
	background-color: rgb(242, 243, 255);
}
tr.even td.sorting_3 {
	background-color: rgb(249, 249, 255);
}
tr.gradeA.odd td.sorting_1 {
	background-color: rgb(196, 255, 196);
}
tr.gradeA.odd td.sorting_2 {
	background-color: rgb(209, 255, 209);
}
tr.gradeA.odd td.sorting_3 {
	background-color: rgb(209, 255, 209);
}
tr.gradeA.even td.sorting_1 {
	background-color: rgb(213, 255, 213);
}
tr.gradeA.even td.sorting_2 {
	background-color: rgb(226, 255, 226);
}
tr.gradeA.even td.sorting_3 {
	background-color: rgb(226, 255, 226);
}
tr.gradeC.odd td.sorting_1 {
	background-color: rgb(196, 196, 255);
}
tr.gradeC.odd td.sorting_2 {
	background-color: rgb(209, 209, 255);
}
tr.gradeC.odd td.sorting_3 {
	background-color: rgb(209, 209, 255);
}
tr.gradeC.even td.sorting_1 {
	background-color: rgb(213, 213, 255);
}
tr.gradeC.even td.sorting_2 {
	background-color: rgb(226, 226, 255);
}
tr.gradeC.even td.sorting_3 {
	background-color: rgb(226, 226, 255);
}
tr.gradeX.odd td.sorting_1 {
	background-color: rgb(255, 196, 196);
}
tr.gradeX.odd td.sorting_2 {
	background-color: rgb(255, 209, 209);
}
tr.gradeX.odd td.sorting_3 {
	background-color: rgb(255, 209, 209);
}
tr.gradeX.even td.sorting_1 {
	background-color: rgb(255, 213, 213);
}
tr.gradeX.even td.sorting_2 {
	background-color: rgb(255, 226, 226);
}
tr.gradeX.even td.sorting_3 {
	background-color: rgb(255, 226, 226);
}
tr.gradeU.odd td.sorting_1 {
	background-color: rgb(196, 196, 196);
}
tr.gradeU.odd td.sorting_2 {
	background-color: rgb(209, 209, 209);
}
tr.gradeU.odd td.sorting_3 {
	background-color: rgb(209, 209, 209);
}
tr.gradeU.even td.sorting_1 {
	background-color: rgb(213, 213, 213);
}
tr.gradeU.even td.sorting_2 {
	background-color: rgb(226, 226, 226);
}
tr.gradeU.even td.sorting_3 {
	background-color: rgb(226, 226, 226);
}
.ex_highlight #example tbody tr.even:hover {
	background-color: rgb(236, 255, 179);
}
#example tbody tr.even td.highlighted {
	background-color: rgb(236, 255, 179);
}
.ex_highlight #example tbody tr.odd:hover {
	background-color: rgb(230, 255, 153);
}
#example tbody tr.odd td.highlighted {
	background-color: rgb(230, 255, 153);
}
.ex_highlight_row #example tr.even:hover {
	background-color: rgb(236, 255, 179);
}
.ex_highlight_row #example tr.even:hover td.sorting_1 {
	background-color: rgb(221, 255, 117);
}
.ex_highlight_row #example tr.even:hover td.sorting_2 {
	background-color: rgb(231, 255, 158);
}
.ex_highlight_row #example tr.even:hover td.sorting_3 {
	background-color: rgb(226, 255, 137);
}
.ex_highlight_row #example tr.odd:hover {
	background-color: rgb(230, 255, 153);
}
.ex_highlight_row #example tr.odd:hover td.sorting_1 {
	background-color: rgb(214, 255, 92);
}
.ex_highlight_row #example tr.odd:hover td.sorting_2 {
	background-color: rgb(224, 255, 132);
}
.ex_highlight_row #example tr.odd:hover td.sorting_3 {
	background-color: rgb(219, 255, 112);
}
table.KeyTable td {
	border: 3px solid transparent; border-image: none;
}
table.KeyTable td.focus {
	border: 3px solid rgb(51, 102, 255); border-image: none;
}
table.display tr.gradeA {
	background-color: rgb(238, 255, 238);
}
table.display tr.gradeC {
	background-color: rgb(221, 221, 255);
}
table.display tr.gradeX {
	background-color: rgb(255, 221, 221);
}
table.display tr.gradeU {
	background-color: rgb(221, 221, 221);
}
div.box {
	padding: 10px; border: 1px solid rgb(128, 128, 255); border-image: none; height: 100px; overflow: auto; background-color: rgb(229, 229, 255);
}
